@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --bg: #f5f5f5;
    --white: #ffffff;

    --primary: #D2042D;
    --primary-light: #c5193b;

    --success: #4CAF50;
    --danger: #ff5f5f;

    --text: #222222;
    --text-light: #8a8a8a;

    --border: #ececec;

    --radius: 20px;
    --radius-sm: 12px;

    --shadow: 0 2px 8px rgba(0,0,0,.05);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
}

body{
    background:var(--bg);
    font-family:"Poppins", sans-serif;
}

.dashboard{
    width:100vw;
    height:100vh;
    padding:12px;
    display:grid;
    gap:12px;
    grid-template-columns:
        350px
        1fr
        1fr
        1.2fr;
    grid-template-rows:
        1fr
        1.5fr
        1fr;
    grid-template-areas:
        "sidebar revenue deals goal"
        "sidebar customers customers growth"
        "sidebar chats states newDeals";
}

.card,
.growth,
.sidebar{
    background:var(--white);
    border:1px solid var(--border);
    border-radius:var(--radius);
    box-shadow:var(--shadow);
}

.sidebar{
    grid-area:sidebar;
    padding:24px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.sidebar-top{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-icon img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

.logo h2{
    font-size:2rem;
    font-weight:700;
}

.search {
    display:flex;
    align-items:center;
    gap:8px;
    color:var(--text-light);
    width:100%;
    height:44px;
    border: 1px solid var(--border);
    border-radius:50px;
    padding: 16px;
}

.search input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
    font-family:inherit;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.menu a{
    text-decoration:none;
    display: flex;
    align-items: center;
    gap:12px;
    color: var(--text-light);
    padding:12px 10px;
    border-radius:10px;
    transition:.2s;
}

.menu  select{
    font-size: 16px;
    width:100%;
    color: var(--text-light);
    border-radius:10px;
    border: none;
    outline: none;
    transition:.2s;
    background:transparent;
}

.menu .active:hover{
    background:#f7f7f7;
    color:var(--primary);
}

.menu a:hover{
    background:#f7f7f7;
}

.sidebar-bottom{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.profile{
    display:flex;
    align-items:center;
    gap:12px;
}

.profile img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.profile div{
    min-width:0;
    flex:1;
}

.profile h4{
    font-size:14px;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.profile span{
    background:var(--primary);
    color: var(--white);
    font-size:12px;
    padding:2px 8px;
    border-radius:999px;
}

.settings-menu{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.settings-menu a{
    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;
    color: var(--text);
}

.settings-menu .logout{
    color: var(--danger);
}

.revenue h3,
.goal h3,
.deals h3{
    font-size: 25px;
    font-weight:600;
    color:var(--text);
}

.metric{
    display:flex;
    align-items:center;
    gap:12px;
}

.metric .value{
    font-size: 64px;
    font-weight:600;
    color:var(--text);
}

.metric .trend-up{
    color:var(--success);
    font-size: 50px;
}

.revenue a,
.customers a,
.goal a,
.deals a{
    display:flex;
    align-items:center;
    gap:4px;
    text-decoration:none;
    color: var(--primary);
    font-size: 16px;
    font-weight:500;
}

.revenue a:hover,
.customers a:hover,
.goal a:hover,
.deals a:hover{
    opacity:.8;
}

.revenue a .material-icons,
.customers a .material-icons,
.goal a .material-icons,
.deals a .material-icons{
    font-size:18px;
}

.goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goal h3 {
    width: 100%;
    text-align: center;
}

.goal-chart {
    width: 220px;
    height: 120px;
}

.goal a {
    align-self: center;
}

.goal-chart {
    position: relative;
    width: 220px;
    height: 120px;
    margin: 0 auto;
}

.goal-percent {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: 600;
    color: var(--text);
}

.customers{
    grid-area: customers;
    display:flex;
    flex-direction:column;
}

.customers-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.customers-header h3{
    font-size:20px;
    font-weight:600;
}

.sort{
    display:flex;
    align-items:center;
    gap:4px;
    color: var(--text-light);
    font-size:15px;
}

.customer-list{
    display:flex;
    flex-direction:column;
    gap: 5px;
    width:100%;
}

.customer{
    display:flex;
    align-items:center;
    gap:10px;
    padding:8px 10px;
    border-radius:18px;
}

.customer.active{
    padding:8px 10px;
    background: color-mix(in srgb, var(--primary-light) 45%, transparent);
}

.customer img{
    width:38px;
    height:38px;
    border-radius:50%;
}

.customer-info{
    flex:1;
}

.customer-info h4{
    font-size:18px;
    font-weight:500;
    color:#222;
}

.customer-info span{
    font-size:14px;
    color: var(--text);
}

.customer-actions{
    display:flex;
    align-items:center;
    gap:14px;
    color: var(--text);

}

.customer-actions .material-icons{
    font-size:20px;
    cursor:pointer;
}

.divider{
    width:1px;
    height:24px;
    background: var(--text-light);
}

.growth{
    grid-area:growth;
    display:grid;
    gap:14px;
    padding:14px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1.5fr 1fr;
    grid-template-areas:
        "chart chart chart"
        "month year buyer";
}

.growth-chart{
    grid-area:chart;
    background: var(--white);
    border-radius:18px;
    display:flex;
    flex-direction:column;
}

.growth-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.growth-header h3{
    font-size:20px;
    font-weight:600;
    color:var(--text);
}

.growth-filter{
    display:flex;
    align-items:center;
    gap:4px;
    color: var(--text-light);
    font-size:15px;
}

.growth-card{
    background: var(--white);
    border:1px solid var(--border);
    border-radius:18px;
    padding: 6px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}

.growth-card .label{
    color: var(--text-light);
    font-size:16px;
    font-weight:500;
    
}

.growth-card .info{
    margin-top:14px;
}

.growth-card .info h4{
    font-size:26px;
    font-weight:600;
    color: var(--primary);
}

.growth-card .info span{
    font-size:13px;
    color: var(--text-light);
}

.buyer{
    display:flex;
    flex-direction:column;
    height: 100%;
    justify-content: space-around;
}

.buyer img{
    width:25px;
    height:25px;
    border-radius:50%;
}

.buyer h4{
    font: size 14px;
    font-weight:600;
    color: var(--text);
}

.buyer span{
    font-size:14px;
    color:#888;
}

.growth-month{
    grid-area:month;
}

.growth-year{
    grid-area:year;
}

.growth-buyer{
    grid-area:buyer;
}


.chats{
    grid-area:chats;
    justify-content:flex-start;
}

.chats h3{
    font-size:25px;
    font-weight:600;
    color:var(--text);
}

.unread{
    color:var(--text-light);
    font-size:16px;
}

.chat-users{
    display:flex;
    align-items:center;
    gap:16px;
    margin-top:10px;
}

.chat-user{
    position:relative;
}

.chat-user img{
    width:48px;
    height:48px;
    border-radius:50%;
    object-fit:cover;
}

.chat-user.active{
    background: color-mix(in srgb, var(--primary-light) 45%, transparent);
    padding:12px;
    border-radius:18px;
}

.notification{
    position:absolute;
    top:8px;
    right:8px;
    width:10px;
    height:10px;
    background:#ff5f5f;
    border:2px solid white;
    border-radius:50%;
}

.states{
    grid-area:states;
    justify-content:flex-start;
}

.states-header{
    width:100%;
}

.states-header h3{
    font-size:25px;
    font-weight:600;
    color:var(--text);
}

.new-deals{
    grid-area:newDeals;
}

.card{
    padding:24px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}